{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the Product Tracker!</h1>
    <p>Start using our app by <a href="{{ path('product_index') }}">browsing current items</a> or <a href="{{ path('product_new') }}">creating a new one</a>.</p>
{% endblock %}